@{
    ViewData["Title"] = "Contatos";
}

     <section class="contatos">
            <div class="max-width">
                <div class="contatos-content">
                    <div class="title-section">
                        CONTATO
                    </div>
                    <div class="contato">
                        <div class="coluna coluna-1">
                            <form action="" class="form-contato">
                                <input type="text" placeholder="SEU NOME">
                                <input type="email" placeholder="SEU EMAIL">
                                <input type="text" placeholder="ASSUNTO">
                                <textarea style="resize: none" name="" id="" cols="30" rows="10" placeholder="MENSAGEM"></textarea>
                                <input type="submit" value="Enviar" onclick="enviado()" class="btn">
                            </form>
                        </div>
                        <div class="coluna-2">
                            <div class="text-contato">
                                Para Alguma Dúvida, Crítica ou sugestão, entre em contato conosco.
                                Teremos o prazer em atendê-lo.
                            </div>
                            <div class="descricao-contato">
                                &#9743; 82-88888888<br>
                                &#9993; ouvidoria@KlSolutions.com.br<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </section>