@{
    ViewData["Title"] = "Index";
}
 <section class="inicio" id="inicio">
            <div class="max-width">
                <div class="inicio-container">
                    <img src="img/img-principal.png" class="img-pginicio">
                    <div class="inicio-content">
                        <div class="text-1">
                            Não entregue seus Dispositivos nas mãos de Curiosos!
                        </div>
                        <div class="text-2">
                            Entregue para quem sabe e é especialista em assistencia técnica de computadores.<br>
                            Usamos uma Metodologia Inovadora e Prática que Apresentam <span>SOLUÇÕES</span> para seus
                            dispositivos.
                        </div>
                        <div class="text-3">
                            <a asp-action="Servicos">Veja Nossos Serviços</a>
                        </div>

                    </div>
                </div>

            </div>
        </section>