@{
    ViewData["Title"]="Login";
}


<section class="login">

    <div class="form">
        <form action="" method="post">
                <input type="text" placeholder="Login">
                <input type="Password" placeholder="Senha">
                <input type="submit" value="Entrar">
        </form>
          <a asp-action="Cadastro" >Cadastre-se</a>
    </div>
    


</section>