@{
    ViewData["Title"] = "Servicos";
}
<section class="servicos" id="servicos">
    <div class="max-width">
        <div class="servicos-content">
            <h1 class="title-section">Serviços</h1>
            <div class="cards-servicos">
                <div class="card">
                    <img src="/img/sistemas.png" class="img-card-servicos">
                    <div class="card-content">
                        <h1 class="card-title">
                            Formatação de computadores e instalação de Sistema Operacional.
                        </h1>
                        <div class="text-card">
                            Refere-se a limpeza de todos os arquivos dos sistema removendo o sistema Operacional
                            antigo e instalando uma nova versão do sistema Operacional.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h1 class="card-title">
                            Remoção de Vírus e de programas indesejáveis.
                        </h1>
                        <div class="text-card">
                            Temos os melhores softwares para a remoção de vírus e programas indesejáveis de seu
                            computador, caso seu computador esteja lento, abrindo programas automaticamente,
                            reiniciando, travando etc...

                        </div>
                    </div>
                    <img src="/img/virus.png" class="img-card-servicos">
                </div>
                <div class="card">
                    <img src="/img/programas.png" class="img-card-servicos">
                    <div class="card-content">
                        <h1 class="card-title">
                            Instalação de Programas
                        </h1>
                        <div class="text-card">
                            Alguns computadores e notebooks comprados na internet vem sem vários programas
                            instalados como Microsoft Office, Firefox Mozilla, Google Chrome, Antivirus,
                            Photoshop,
                            Nero, Power DVD, Ares, aTube entre outros.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h1 class="card-title">
                            Upgrade de Hardware
                        </h1>
                        <div class="text-card">
                            Caso você queira ter um melhor desempenho de seu computador muitas vezes é
                            necessário
                            fazer um Upgrade do Hardware (Aumentar a memória, HD, Placa de Vídeo e trocar o
                            processador).
                        </div>
                    </div>
                    <img src="/img/upgrade.png" class="img-card-servicos">
                </div>
                <div class="card">
                    <img src="/img/pecas.png" class="img-card-servicos">
                    <div class="card-content">
                        <h1 class="card-title">
                            Troca de peças de Computadores e Notebooks
                        </h1>
                        <div class="text-card">
                            Algumas peças do computador ou notebook podem apresentar defeito sendo necessário
                            trocá-las. Como exemplo: memórias, disco rígidos, placas de vídeos, gravadoras,
                            entre
                            outros.

                        </div>

                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h1 class="card-title">
                            Limpeza Interna
                        </h1>
                        <div class="text-card">
                            Alguns problemas relacionados a aquecimento do sistema (como o computador ficar
                            travando
                            ou desligando a todo momento), ruídos fortes na fonte ou cooler do processador pode
                            ser
                            por falta de uma limpeza interna.

                        </div>
                    </div>
                    <img src="/img/limpeza.png" class="img-card-servicos">
                </div>
            </div>
        </div>
    </div>
</section>