@model Usuario


<section class="login">

    <div class="form">
        <form method="POST">
            <input asp-for="Login" placeholder="LOGIN" class="nameForm">
            <input asp-for="Senha" placeholder="SENHA"type="Password">
            <input type="submit" value="ENTRAR">
        </form>
        <a asp-action="Cadastro">Cadastre-se</a>
        @ViewBag.Mensagem
    </div>




</section>